.standard-button:hover {
    background-color: white;
    box-shadow: #fff8 0 0 10px;
}

.myInput:focus{
    background-color: rgb(15 23 42 / 0.9);
    transition: background-color ease-in-out 0.2s;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 350px;
    max-width: 80%;
}

.overlayModal{
    @apply fixed top-0 left-0 right-0 bottom-0 z-10 bg-black/40
}


